/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 20px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form {
    display:flex;
    flex-direction: column;
    width: 300px;
    gap: 12px;
    padding-top: 20px;
}

.form-buttons-div {
    display: flex;
    justify-content:space-between;
    gap: 10px;
}

.submit-button {
    background-color: #3f51b5;
    border: 2px solid black;
    color: white;
    padding: 8px 16px;
}

.cancel-button {
    background-color: green;
    border: 2px solid black;
    color: white;
    padding: 8px 16px;
}

table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even){
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}